<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chitchat.portal.dao.account.AccountLevelGameDaoI">
  <resultMap id="BaseResultMap" type="com.chitchat.portal.bean.account.AccountLevelGame">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="level_name" jdbcType="VARCHAR" property="levelName" />
    <result column="start_growth_point" jdbcType="INTEGER" property="startGrowthPoint" />
    <result column="growth_point" jdbcType="INTEGER" property="growthPoint" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="default_status" jdbcType="BIT" property="defaultStatus" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>


  <sql id="Base_Column_List">
    id, level_name, start_growth_point, growth_point, icon, default_status,
    memo, created_time
  </sql>

  <insert id="insert" parameterType="com.chitchat.portal.bean.account.AccountLevelGame">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app_account_level_game (level_name, start_growth_point,
    growth_point, icon, default_status,
    memo, created_time)
    values (#{levelName,jdbcType=VARCHAR}, #{startGrowthPoint,jdbcType=INTEGER},
    #{growthPoint,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{defaultStatus,jdbcType=BIT},
    #{memo,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.chitchat.portal.bean.account.AccountLevelGame">
    update app_account_level_game
    <set>
      <if test="levelName != null">
        level_name = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="startGrowthPoint != null">
        start_growth_point = #{startGrowthPoint,jdbcType=INTEGER},
      </if>
      <if test="growthPoint != null">
        growth_point = #{growthPoint,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="defaultStatus != null">
        default_status = #{defaultStatus,jdbcType=BIT},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="com.chitchat.portal.bean.account.AccountLevelGame">
    update app_account_level_game
    set
        level_name = #{levelName,jdbcType=VARCHAR},
        start_growth_point = #{startGrowthPoint,jdbcType=INTEGER},
        growth_point = #{growthPoint,jdbcType=INTEGER},
        icon = #{icon,jdbcType=VARCHAR},
        default_status = #{defaultStatus,jdbcType=BIT},
        memo = #{memo,jdbcType=VARCHAR},
        created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="list" parameterType="com.chitchat.common.base.BasePageRequestModel" resultType="com.chitchat.portal.bean.account.AccountLevelGame">
    select * from `app_account_level_game`
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.chitchat.portal.bean.account.AccountLevelGame">
    select *
    from app_account_level_game
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getById" parameterType="java.lang.Long" resultType="com.chitchat.portal.bean.account.AccountLevelGame">
    select *
    from app_account_level_game
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByLongId" parameterType="java.lang.Long">
    delete from app_account_level_game
    where id = #{id,jdbcType=BIGINT}
  </delete>
</mapper>
