<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chitchat.admin.dao.SysOauthClientDaoI">

    <!--获取客户端信息-->
    <select id="getByClientId" parameterType="java.lang.String" resultType="com.chitchat.admin.bean.SysOauthClient">
        select * from `sys_oauth_client` where client_id = #{clientId}
    </select>

</mapper>
