<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chitchat.portal.dao.room.RoomKickOutAccountLinkDaoI">

    <resultMap id="BaseResultMap" type="com.chitchat.portal.bean.room.RoomKickOutAccountLink">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roomId" column="room_id" jdbcType="BIGINT"/>
            <result property="accountId" column="account_id" jdbcType="BIGINT"/>
            <result property="kickOutDuration" column="kick_out_duration" jdbcType="INTEGER"/>
            <result property="kickOutEndTime" column="kick_out_end_time" jdbcType="TIMESTAMP"/>
            <result property="createdUserId" column="created_user_id" jdbcType="INTEGER"/>
            <result property="createdUserName" column="created_user_name" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,room_id,account_id,kick_out_duration,kick_out_end_time,created_user_id,created_user_name,created_time
    </sql>

    <!--新增被禁用户记录-->
    <insert id="insert" parameterType="com.chitchat.portal.bean.room.RoomKickOutAccountLink">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into `app_room_kick_out_account_link` (
            room_id,
            account_id,
            kick_out_duration,
            kick_out_end_time,
            created_user_id,
            created_user_name,
            created_time
        ) values (
            #{roomId,jdbcType=BIGINT},
            #{accountId,jdbcType=BIGINT},
            #{kickOutDuration,jdbcType=INTEGER},
            #{kickOutEndTime,jdbcType=TIMESTAMP},
            #{createdUserId,jdbcType=BIGINT},
            #{createdUserName,jdbcType=VARCHAR},
            now()
        )
    </insert>

    <!--查询被禁用户-->
    <select id="list" parameterType="com.chitchat.common.base.BasePageRequestModel" resultType="com.chitchat.portal.bean.room.RoomKickOutAccountLink">
        select rfa.*
        from `app_room_kick_out_account_link` rfa
            left join app_account_info ai on ai.id = rfa.account_id
        where
            rfa.room_id = #{roomId}
            <if test="likeName != null and likeName != ''">
                and (ai.nick_name like concat('%', #{likeName},'%') or rfa.account_id like concat('%', #{likeName},'%'))
            </if>
        order by rfa.id desc
    </select>

    <!--踢出房间用户查询-->
    <select id="getByRoomIdAndAccountId" resultType="com.chitchat.portal.bean.room.RoomKickOutAccountLink">
        select *
        from `app_room_kick_out_account_link` where room_id = #{roomId} and account_id = #{accountId} and kick_out_end_time > now()
    </select>

</mapper>
